<div id="page" [class]="style">
   
<mat-icon class="material-symbols-outlined">light_mode</mat-icon>
<mat-icon class="material-symbols-outlined">mode_night</mat-icon>
<p>singup works!</p>
<br/>
    <mat-icon (click)="changeMode()" aria-label="Mode">fontIcon="{{icon}}"</mat-icon>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum reiciendis voluptates autem eligendi consequatur 
        suscipit, esse aliquid maxime voluptate molestias? Nihil voluptatum ratione pariatur beatae nesciunt dolores minima blanditiis illo!</p>
</div>

